* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(79 79 231 /40%), rgba(0 0 255 /40%)), url("assets/images/survey.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
}

.survey-form {
  width: 40rem;
  padding: 20px;
  background-color: #1b1b32;
  border: 30px;
  font-size: large;
  margin: 40px auto;
  color: white;
}

#submit-btn {
  background-color: green;
  border: none;
  width: 100%;
  height: 40px;
  color: white;
}

textarea {
  min-height: 8rem;
  width: 100%;
}

div,
label, 
input {
  display: block;
  text-align: left;
}

.input-field {
  width: 100%;
  height: 2.2rem;
}

#survey-title,
#msg {
  color: white;
  text-align: center;
  padding: 10px;
}

.form-info {
  margin-bottom: 2rem;
}

p {
  text-align: left;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
}

#msg {
  font-weight: 200;
  line-height: 25px;
  font-style: italic;
  font-size: 18px;
}

.form-box {
  min-height: 1.2rem;
  min-width: 1.2rem;
}

.styling,
.style-radio {
  display: flex;
  margin-right: 5px;
  margin-bottom: 0.5rem;
}
